<div class="row">
  <div class="shadow-lg">
  <div class="card">

    <div class="card-img-wrapper">
    <!--<img class="propImg" src="assets/Images/Imagen1.jpg">-->
    <img class="card-img-top" src="assets/Images/Imagen1.jpg">
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/property-detail/{{property_name.Id}}"><i class="fa fa-edit"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fa fa-address-book"></i></button>
      </li>
    </ul>
  </div>
    <div class="card-body p-2">
       <!--STRING INTERPOLATION-->
    <!--<h1>{{Property.Id}}</h1>
    <h1>{{Property.Type}}</h1>
    <h1>{{Property.Price}}</h1>-->
    <h1>{{property_name.Id}}</h1>
    <h1>{{property_name.Type}}</h1>
    <h1>{{property_name.Price}}</h1>
  </div>
  </div>
</div>
</div>
