<!--<p>
  add-property works!
  <button (click)="onBack()" class="btn btn-primary">Back</button>
</p>
<div class="row">
  <div *ngFor="let property of propertieshttp" class="shadow-lg col-sm-4">
    <app-property-card [property_name]="property"></app-property-card>
  </div>
</div>-->

<div class="card">
  <div class="card-header">
    Add New Property
  </div>

  <div class="card-body">
    <!--<form action=""></form>-->
    <form (ngSubmit)="onSubmit(Form)" #Form='ngForm'>
      <div class="form-group col-12">
        <label for="name">Name</label>
        <input type="text" class="form-control" #propName="ngModel" ngModel name="Name"
         required minlength="5">
        <span *ngIf="!propName.valid && propName.touched" class="error-block">
       <!-- <span *ngIf="propName.errors.required"> Please provide name</span>
        <span *ngIf="propName.errors.minlength">Name must be at least 5 char long</span>-->
      </span>
      </div>

      <div class="form-group col-12">
        <label for="name">Type</label>
        <input type="text" class="form-control" ngModel name="Type">
      </div>

      <div class="form-group col-12">
        <label for="name">Price</label>
        <input type="text" class="form-control" ngModel name="Price">
      </div>

      <div class="form-group col-12">
        <button [disabled]="!Form.valid" type="submit" class="btn btn-primary mr-2">Save</button>
        <button type="reset" class="btn btn-primary">Cancel</button>
       </div>
    </form>
  </div>



</div>
